@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
